# Byte-compiled / cache / virtualenv
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.dll
*.dylib
*.egg-info/
*.egg
.env
.venv
env/
venv/

# IDE / Editor config
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Python test/output artifacts
*.log
*.out
*.tmp
*.bak

# Jupyter/IPython
.ipynb_checkpoints/

# MediaPipe / Model / Torch cache
mediapipe/modules/face_landmark/face_landmark.tflite
models/*.bz2
models/*.dat
models/*.pth
*.onnx

# Project output
data/human_keypoints/
data/dog_keypoints/
*.json
db.sqlite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
